@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";


body{
  background-color: #E8F5E9;
}

.lato{
  font-family: "Lato", sans-serif;
  font-style:normal;
}

.glass {
  background: #ffffff1a;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(43, 43, 43, 0.2);
  color: black;
}